*{
  margin: 0; 
  padding: 0; 
   box-sizing: border-box;
  font-family: sans-serif;
  
}
body{
  margin: 40px;
}

h1{
    display: flex;
    justify-content: center;
}
p{
    display: flex;
    justify-content: center;
}

.calculator{
  background-color: rgb(219, 213, 213);
    border: 2px solid black;
    display: grid;
    grid-template-columns:(5,auto);
    grid-template-rows:(6,40px); 
   margin: 40px auto;
    height:60vh;
    width:25vw ;
    box-shadow: inset 3px 3px 12px white;
                    
}




#result{
  background-color: rgb(241, 237, 237);
 border:3px solid black;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start:1 ;
  grid-row-end: 3;
}
.button{
    padding:10px;
    color: black;
}
#equal{
  text-align:center;
  display: grid;     
  grid-column-start:3;
  grid-column-end:5;
  padding-top:20px;
}
@media screen and(min-width:320px) and(max-width:1200px){
  *{
   
    font-family: sans-serif;
    
  }
  body{
    margin: 40px;
  }
  
  h1{
      display: flex;
      justify-content: center;
  }
  p{
      display: flex;
      justify-content: center;
  }
  
  .calculator{
    background-color: rgb(219, 213, 213);
      border: 2px solid black;
      display: grid;
      grid-template-columns:(5,auto);
      grid-template-rows:(6,40px); 
     margin: 40px auto;
      height:60vh;
      width:25vw ;
      box-shadow: inset 3px 3px 12px white;
                      
  }
  
  #result{
    background-color: rgb(241, 237, 237);
   border:3px solid black;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start:1 ;
    grid-row-end: 3;
  }
  .button{
      padding:10px;
      color: black;
  }
  #equal{
    text-align:center;
    display: grid;     
    grid-column-start:3;
    grid-column-end:5;
    padding-top:20px;
  } 

}